<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Portfolio Homepage</title>
	</head>

	<body class="overflow-x-hidden">
		<section
			id="about-me"
			class="relative flex min-h-screen w-full flex-col items-center justify-center p-4 sm:px-16 md:px-32 xl:px-28">
			<div
				aria-hidden="true"
				class="absolute top-0 left-1/2 -z-10 h-full w-[400vw] -translate-x-1/2 -translate-y-3/4 -rotate-20 bg-cyan-700 shadow-2xl sm:-translate-y-2/3 lg:-translate-y-1/2">
			</div>
			<div
				class="flex w-full flex-col items-center sm:block lg:grid lg:grid-cols-4">
				<figure
					class="relative mx-auto flex max-w-96 justify-center shadow-2xl sm:float-left sm:mr-6 sm:w-52 sm:origin-bottom-right sm:scale-130 lg:col-span-1 lg:mr-0 lg:block lg:size-full lg:max-w-96 lg:origin-right lg:flex-col">
					<img
						class="mx-auto aspect-square h-full object-cover"
						id="portrait-img"
						alt="A stock portrait image of a man wearing a suit." />
					<figcaption
						class="absolute bottom-0 m-4 font-playfair text-6xl text-gray-100 text-shadow-lg sm:-top-2 sm:-right-1/2 sm:bottom-auto sm:text-3xl lg:top-auto lg:right-0 lg:bottom-0 lg:text-5xl">
						John Doe
					</figcaption>
				</figure>
				<article
					class="justify-around sm:bg-gray-100 sm:px-8 sm:pt-18 sm:pb-4 sm:shadow-xl lg:col-span-3 lg:flex lg:flex-col lg:pt-2">
					<h2
						class="my-2 text-center font-playfair text-4xl font-medium text-neutral-950 lg:text-left lg:text-5xl"
						>About me</h2
					>
					<p class="font-roboto text-neutral-800 lg:text-xl"
						>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum
						exercitationem qui illo repudiandae. Repellendus dignissimos, veniam
						blanditiis vel velit laboriosam deleniti, laborum maxime, veritatis
						illo sit harum culpa distinctio praesentium! Lorem, ipsum dolor sit
						amet consectetur adipisicing elit. Illum exercitationem qui illo
						repudiandae. Repellendus dignissimos, veniam blanditiis vel velit
						laboriosam deleniti, laborum maxime, veritatis illo sit harum culpa
						distinctio praesentium!</p
					>
					<ul
						class="my-4 flex justify-center gap-4 text-3xl sm:justify-end md:text-4xl"
						id="profile-links">
						<li class="cursor-pointer text-black hover:text-neutral-700"
							><a
								href="https://github.com/StilettoDagger"
								target="_blank"
								aria-label="Visit my GitHub profile">
								<span class="icon-[mdi--github]"></span>
							</a>
						</li>
						<li class="cursor-pointer text-black hover:text-neutral-700"
							><a
								href="#"
								target="_blank"
								aria-label="Visit my LinkedIn profile">
								<span class="icon-[mdi--linkedin]"></span> </a
						></li>
						<li class="cursor-pointer text-black hover:text-neutral-700"
							><a href="#" target="_blank" aria-label="Follow me on Twitter">
								<span class="icon-[mdi--twitter]"></span>
							</a>
						</li>
					</ul>
				</article>
			</div>
		</section>
		<section class="min-h-screen p-4 md:px-12 xl:px-28" id="my-work">
			<h2
				class="mb-6 text-center font-playfair text-4xl font-medium text-neutral-950 lg:text-left lg:text-5xl"
				>My Work</h2
			>
			<ul
				aria-label="List of projects"
				class="grid grid-cols-1 gap-12 sm:grid-cols-2 lg:grid-cols-3">
				<li>
					<article class="flex flex-col shadow-2xl">
						<figure class="flex h-80 items-center justify-center">
							<img
								id="img-battleship"
								class="h-full w-full object-cover shadow-lg"
								alt="Screenshot of Battleship" />
						</figure>
						<div
							class="flex items-center px-8 py-2 text-2xl text-neutral-950 lg:text-3xl">
							<h3 class="font-playfair font-medium">Battleship</h3>
							<ul
								class="ml-auto flex items-center gap-4"
								aria-label="Project links">
								<li class="cursor-pointer hover:text-neutral-700"
									><a
										href="https://github.com/StilettoDagger/battleship"
										target="_blank"
										aria-label="Link to source code">
										<span class="icon-[mdi--github]"></span>
									</a>
								</li>
								<li class="cursor-pointer hover:text-neutral-700"
									><a
										href="https://stilettodagger.github.io/battleship/"
										target="_blank"
										aria-label="Open live preview">
										<span class="icon-[mdi--open-in-new]"></span>
									</a>
								</li>
							</ul>
						</div>
						<p class="px-4 py-2 font-roboto text-neutral-800 lg:text-xl"
							>A fully playable Battleship game against a computer opponent. It
							utilizes Test Driven Development (TDD) with Jest, factory
							functions for core game logic, and an interactive DOM for the game
							boards.</p
						>
					</article>
				</li>
				<li>
					<article class="flex flex-col shadow-2xl">
						<figure class="flex h-80 items-center justify-center">
							<img
								id="img-calculator"
								class="h-full w-full object-cover shadow-lg"
								alt="Screenshot of Calculator" />
						</figure>
						<div
							class="flex items-center px-8 py-2 text-2xl text-neutral-950 lg:text-3xl">
							<h3 class="font-playfair font-medium">Calculator</h3>
							<ul
								class="ml-auto flex items-center gap-4"
								aria-label="Project links">
								<li class="cursor-pointer hover:text-neutral-700"
									><a
										href="https://github.com/StilettoDagger/calculator"
										target="_blank"
										aria-label="Link to source code">
										<span class="icon-[mdi--github]"></span>
									</a>
								</li>
								<li class="cursor-pointer hover:text-neutral-700"
									><a
										href="https://stilettodagger.github.io/calculator/"
										target="_blank"
										aria-label="Open live preview">
										<span class="icon-[mdi--open-in-new]"></span>
									</a>
								</li>
							</ul>
						</div>
						<p class="px-4 py-2 font-roboto text-neutral-800 lg:text-xl"
							>An interactive calculator application with a clean UI. This
							project demonstrates core JavaScript logic, DOM manipulation,
							state management, and handling user inputs to perform accurate
							arithmetic operations.</p
						>
					</article>
				</li>
				<li>
					<article class="flex flex-col shadow-2xl">
						<figure class="flex h-80 items-center justify-center">
							<img
								id="img-etch-a-sketch"
								class="h-full w-full object-cover shadow-lg"
								alt="Screenshot of Etch-A-Sketch" />
						</figure>
						<div
							class="flex items-center px-8 py-2 text-2xl text-neutral-950 lg:text-3xl">
							<h3 class="font-playfair font-medium">Etch-A-Sketch</h3>
							<ul
								class="ml-auto flex items-center gap-4"
								aria-label="Project links">
								<li class="cursor-pointer hover:text-neutral-700"
									><a
										href="https://github.com/StilettoDagger/etch-a-sketch"
										target="_blank"
										aria-label="Link to source code">
										<span class="icon-[mdi--github]"></span>
									</a>
								</li>
								<li class="cursor-pointer hover:text-neutral-700"
									><a
										href="https://stilettodagger.github.io/etch-a-sketch/"
										target="_blank"
										aria-label="Open live preview">
										<span class="icon-[mdi--open-in-new]"></span>
									</a>
								</li>
							</ul>
						</div>
						<p class="px-4 py-2 font-roboto text-neutral-800 lg:text-xl"
							>A browser-based sketching tool inspired by the classic toy. It
							showcases dynamic DOM creation using JavaScript loops, event
							listeners for mouse hover effects, and allows users to customize
							the grid density on the fly.</p
						>
					</article>
				</li>
				<li>
					<article class="flex flex-col shadow-2xl">
						<figure class="flex h-80 items-center justify-center">
							<img
								id="img-library"
								class="h-full w-full object-cover shadow-lg"
								alt="Screenshot of Library" />
						</figure>
						<div
							class="flex items-center px-8 py-2 text-2xl text-neutral-950 lg:text-3xl">
							<h3 class="font-playfair font-medium">Library</h3>
							<ul
								class="ml-auto flex items-center gap-4"
								aria-label="Project links">
								<li class="cursor-pointer hover:text-neutral-700"
									><a
										href="https://github.com/StilettoDagger/library"
										target="_blank"
										aria-label="Link to source code">
										<span class="icon-[mdi--github]"></span>
									</a>
								</li>
								<li class="cursor-pointer hover:text-neutral-700"
									><a
										href="https://stilettodagger.github.io/library/"
										target="_blank"
										aria-label="Open live preview">
										<span class="icon-[mdi--open-in-new]"></span>
									</a>
								</li>
							</ul>
						</div>
						<p class="px-4 py-2 font-roboto text-neutral-800 lg:text-xl"
							>A digital library for tracking reading progress. This application
							introduces Object-Oriented Programming principles in JavaScript
							using classes and objects, handling persistent data logic through
							HTML Web Storage API.</p
						>
					</article>
				</li>
				<li>
					<article class="flex flex-col shadow-2xl">
						<figure class="flex h-80 items-center justify-center">
							<img
								id="img-restaurant-page"
								class="h-full w-full object-cover shadow-lg"
								alt="Screenshot of Restaurant Page" />
						</figure>
						<div
							class="flex items-center px-8 py-2 text-2xl text-neutral-950 lg:text-3xl">
							<h3 class="font-playfair font-medium">Restaurant Page</h3>
							<ul
								class="ml-auto flex items-center gap-4"
								aria-label="Project links">
								<li class="cursor-pointer hover:text-neutral-700"
									><a
										href="https://github.com/StilettoDagger/restaurant-page"
										target="_blank"
										aria-label="Link to source code">
										<span class="icon-[mdi--github]"></span>
									</a>
								</li>
								<li class="cursor-pointer hover:text-neutral-700"
									><a
										href="https://stilettodagger.github.io/restaurant-page/"
										target="_blank"
										aria-label="Open live preview">
										<span class="icon-[mdi--open-in-new]"></span>
									</a>
								</li>
							</ul>
						</div>
						<p class="px-4 py-2 font-roboto text-neutral-800 lg:text-xl"
							>A Single Page Application (SPA) utilizing modular JavaScript and
							Webpack. Content is dynamically generated using DOM manipulation,
							eliminating page reloads and providing a smooth, App-like user
							experience.</p
						>
					</article>
				</li>
				<li>
					<article class="flex flex-col shadow-2xl">
						<figure class="flex h-80 items-center justify-center">
							<img
								id="img-todolist"
								class="h-full w-full object-cover shadow-lg"
								alt="Screenshot of To-Do List" />
						</figure>
						<div
							class="flex items-center px-8 py-2 text-2xl text-neutral-950 lg:text-3xl">
							<h3 class="font-playfair font-medium">To-Do List</h3>
							<ul
								class="ml-auto flex items-center gap-4"
								aria-label="Project links">
								<li class="cursor-pointer hover:text-neutral-700"
									><a
										href="https://github.com/StilettoDagger/todolist"
										target="_blank"
										aria-label="Link to source code">
										<span class="icon-[mdi--github]"></span>
									</a>
								</li>
								<li class="cursor-pointer hover:text-neutral-700"
									><a
										href="https://stilettodagger.github.io/todolist/"
										target="_blank"
										aria-label="Open live preview">
										<span class="icon-[mdi--open-in-new]"></span> </a
								></li>
							</ul>
						</div>
						<p class="px-4 py-2 font-roboto text-neutral-800 lg:text-xl"
							>A comprehensive task management app utilizing the module pattern
							and factory functions. It features separate logic, DOM, and data
							modules, supporting distinct projects, priority levels, and
							persistent local storage.</p
						>
					</article>
				</li>
			</ul>
		</section>
		<section class="min-h-screen bg-sky-600 sm:grid sm:grid-cols-2">
			<article
				class="flex flex-col items-start gap-4 p-4 sm:gap-12 sm:self-center md:px-12 xl:px-28">
				<h2
					class="self-center text-center font-playfair text-4xl font-medium text-neutral-100 sm:self-start sm:text-left lg:text-5xl">
					Contact me</h2
				>
				<p class="mb-6 font-roboto text-xl text-neutral-200"
					>Please do not hesitate to get in touch if you think our work could be
					mutually beneficial! You may use any of the following communication
					methods if you would like to get in contact.</p
				>
				<ul
					aria-label="Contact details"
					class="flex flex-col gap-2 font-roboto text-xl text-neutral-200 lg:text-2xl">
					<li>
						<a
							class="flex w-fit items-center gap-2 hover:text-neutral-100 hover:underline"
							href="mailto:bahaod95@gmail.com?subject=Portfolio%20Inquiry"
							target="_blank"
							aria-label="Send me an Email"
							><span class="icon-[mdi--email]"></span> bahaod95@gmail.com</a
						>
					</li>
					<li>
						<a
							class="flex w-fit items-center gap-2 hover:text-neutral-100 hover:underline"
							href="https://wa.me/962788776154"
							target="_blank"
							aria-label="Contact me on WhatsApp"
							><span class="icon-[mdi--whatsapp]"></span>+962 788776154</a
						>
					</li>
					<li>
						<a
							class="flex w-fit items-center gap-2 hover:text-neutral-100 hover:underline"
							href="https://discord.com/users/stiletto_dagger"
							target="_blank"
							aria-label="Contact me on Discord"
							><span
								class="icon-[ic--baseline-discord] flex items-center gap-2"></span
							>stiletto_dagger</a
						>
					</li>
				</ul>
				<ul
					aria-label="Social media links"
					class="flex justify-center gap-4 self-center text-4xl sm:self-start">
					<li>
						<a
							class="text-neutral-200 hover:text-neutral-100"
							href="https://github.com/StilettoDagger95"
							target="_blank"
							aria-label="My GitHub profile"
							><span class="icon-[mdi--github]"></span
						></a>
					</li>
					<li>
						<a class="text-neutral-200 hover:text-neutral-100" href="#"
							><span class="icon-[mdi--linkedin]"></span
						></a>
					</li>
					<li>
						<a class="text-neutral-200 hover:text-neutral-100" href="#"
							><span class="icon-[mdi--twitter]"></span
						></a>
					</li>
				</ul>
			</article>
			<figure
				class="sm:h-150 sm:self-center sm:justify-self-center sm:p-6 lg:h-200">
				<img
					class="object-cover sm:h-full"
					id="contact-img"
					src=""
					alt="An image of a man talking on the phone while using his laptop." />
			</figure>
		</section>
	</body>
</html>
