<!doctype html>
<html lang="en">
	<head>
		<link
			rel="stylesheet"
			type="text/css"
			href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Portfolio Homepage</title>
	</head>

	<body>
		<section
			id="about-me"
			class="flex w-full flex-col items-center p-4 sm:block sm:p-32 sm:px-14 md:grid md:grid-cols-4">
			<div
				aria-hidden="true"
				class="absolute -z-10 h-full w-500 -translate-x-72 -translate-y-3/4 -rotate-20 bg-cyan-700 shadow-2xl sm:-translate-y-full md:-translate-y-3/4">
			</div>
			<figure
				class="relative mx-auto flex max-w-96 justify-center shadow-2xl sm:float-left sm:mr-6 sm:w-52 sm:origin-bottom-right sm:scale-130 md:col-span-1 md:mr-0 md:block md:size-full md:max-w-96 md:origin-right md:flex-col">
				<img
					class="mx-auto aspect-square h-full object-cover"
					id="portrait-img"
					alt="A stock portrait image of a man wearing a suit." />
				<figcaption
					class="absolute bottom-0 m-4 font-playfair text-6xl text-gray-100 text-shadow-lg sm:-top-2 sm:-right-1/2 sm:bottom-auto sm:text-3xl md:top-auto md:right-0 md:bottom-0 md:text-5xl">
					John Doe
				</figcaption>
			</figure>
			<article
				class="h-full justify-around sm:bg-gray-100 sm:px-8 sm:pt-18 sm:pb-4 sm:shadow-xl md:col-span-3 md:flex md:flex-col md:pt-2">
				<h2 class="my-2 text-center font-playfair text-4xl md:text-left"
					>About me</h2
				>
				<p
					>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum
					exercitationem qui illo repudiandae. Repellendus dignissimos, veniam
					blanditiis vel velit laboriosam deleniti, laborum maxime, veritatis
					illo sit harum culpa distinctio praesentium! Lorem, ipsum dolor sit
					amet consectetur adipisicing elit. Illum exercitationem qui illo
					repudiandae. Repellendus dignissimos, veniam blanditiis vel velit
					laboriosam deleniti, laborum maxime, veritatis illo sit harum culpa
					distinctio praesentium!</p
				>
				<ul
					class="my-4 flex justify-center gap-4 text-2xl sm:justify-end sm:text-3xl"
					id="profile-links">
					<li class="cursor-pointer text-black hover:text-neutral-700"
						><i class="devicon-github-original"></i>
					</li>
					<li class="cursor-pointer text-black hover:text-neutral-700"
						><i class="devicon-linkedin-plain"></i
					></li>
					<li class="cursor-pointer text-black hover:text-neutral-700"
						><i class="devicon-twitter-original"></i>
					</li>
				</ul>
			</article>
		</section>
	</body>
</html>
